<div class="container-flex">
  <div class="banner-users">
    <div class="browse">
    <h1>Browse services</h1>
      <div class="category-dropdown">
        <label for="cars">Category: </label>
        <div class="category-select">
          <select class="select-css" name="categories" id="categories">
            <option selected disabled>Choose here</option>
            <% @categories.each do |category| %>
              <option value="<%= category.name %>"><%= category.name %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <form action="/"> -->
<div class="container-flex">
  <div class="cards-recommended">
    <ul>
      <h1>Category name services</h1>
      <div id="js-select">


      </div>
    </ul>
<!--     <h3>Compare selected services</h3>
    <input type="submit" value="Submit"> -->
    <div id="load">
      <h2>Show more <i class="fas fa-chevron-down"></i></h2>
    </div>
    <div id="unload" class="d-none">
      <h2>Show less <i class="fas fa-chevron-up"></i></h2>
    </div>
  </div>
</div>
<!-- </form>
 -->
