// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Panther colours

$primary-normal: #212121;
$primary-light: #484848;
$primary-dark: #000000;

$secondary-normal: #33D9B2;
$secondary-light: #A4FFFF;
$secondary-dark: #35B2A4;

$text-light: #FFFFFF;
$text-dark: #000000;

$background-normal: #E1E2E1;
$background-light: #F5F5F6;
$background-dark: #B6B6B7;

$panther-green: #33D9B2;
$panther-yellow: #FFC048;
$panther-red: #FF5252;
