// Specific CSS for your home-page
.long-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  white-space: nowrap;
}

.most-view-style {
  padding-top: 64px;
}

.categories-style {
  padding-left: 80px;
}

.bottom-margin {
  margin-top: 65px;
  margin-bottom: 65px;
}

.view-all-style {
  font-size: 20px;
  padding-bottom: 24px;
}

.module {
  width: 500px;
  overflow: hidden;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
