.reviewbox{
  border: solid black 1px;
}
.username {
  display: inline-block;
  font-size: 24px;
  text-transform: capitalize;
}

.review-container {
  position: relative;
  background-color: lightgray;
}

.rating {
  color: $panther-red;
}
.rating-container {
  position: absolute;
  margin: 0 2rem;
  // bottom: 40px;
}