.container-fluid {
  padding: 0;  // Gets rid of whitespace on the side of page
}

.container {
  margin-top: 2rem;
}

// Elements
.white {
  color: white;
}
ul {
  list-style-type: none;
}

.service-info {
  margin: .5rem;
}

// Image Style

.spacing {
  margin: 0.2rem;
}

// Icons styling

.fa-globe {
  color: $background-dark;
}

.fa-file-alt {
  color: $background-dark;
}

// Service category

.category {
  padding: 9px 16px;
  background-color: $primary-light;
  margin: 1rem;
  border: solid 2px $background-dark;
  color: $background-dark !important;
  border-radius: 5px;
}

.categories ul {
  display: flex;
  padding-left: 0px;
}

// Score Section

.score-section {
  display: flex;
  .verdict {
    display:flex;
  }
}

.verdict svg {
  margin: 0rem .2rem;
}

.score-section div {
  margin: 0 1rem;
}

// Breakdown Section

.white-bg {
  background-color: #fff;
}

.banner {
  background-color: $primary-normal;
  background-size: cover;
  background-position: center;
  padding: 100px 50px 100px;
  margin-bottom: 0;
}

.breakdown {
  display: flex;
  i {
    margin-bottom: 1rem;
  }
}

.fa-plus-square {
  color: $panther-green;
}

.fa-minus-square {
  color: $panther-red;
}
.fa-equals {
  color: $panther-yellow;
}


// More Section
.more {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 2rem;
  // box-shadow: 3px 3px 50px 20px grey;
}


// Review Section
.user-review {
  margin-bottom: 6rem;
}
.username {
  text-transform: capitalize;
}

.col-1 {
  text-align: center;
  margin: auto 0;
}

.review-details {
  display: flex;
  justify-content: space-between;
  .start {
    display: flex;
  }
  .end {
    display: flex;
    padding: 0 1rem;
    .filter {
      padding: 0 .5rem;
      color: $primary-light;
    }
  }
}

.fa-minus {
  margin-bottom: 50px;
  color: black;
  &:hover {
    color: $panther-red;
  }
}

.green {
  color: $panther-green
}

.yellow {
  color: $panther-yellow
}

.red {
  color: $panther-red;
}

.active {
  color: #000 !important;
}

.date {
  margin: 0rem 2rem;
  color: $background-dark;
}
//  Thumbs ups & down
.votes div {
  margin: 0 .5rem;
}
.votes {
  display: flex;
  .postive {
    display: flex;
    color: $panther-green;
  }
  
  .negative {
    display: flex;
    color: $panther-red;
  }
}

#up-vote {
  margin-right: 0.5rem;
}

#down-vote {
  margin-right: 0.5rem;
}

