<div class="footer static-bottom">
  <div class="footer-links">
    <a href="#">About Us</a>
    <a href="#"> Contact Us</a>
    <a href="#">FAQ</a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
