.banner_style {
  display: flex;
  flex-direction: column;
}

.gif-image-container {
  padding-top: 12px;
}

.banner-home {
  background-color: $primary-normal;
  background-size: cover;
  background-position: center;
  padding: 100px 50px 100px;
  margin-bottom: 48px;
  p {
    font-size: 30px;
    color: white;
  }
  h1 {
    font-size: 64px;
    color: white;
  }
}

.banner-paragraph {
  margin-left: 25px;
  margin-top: 50px;
  border-left: 4px solid #33D9B2;
  width: 80%;
  padding-left: 36px;
}

.banner-large {
  background-color: #212121;
  background-size: cover;
  background-position: center;
  margin: 48px 0px 48px 0px;
  padding: 80px 0px 60px 24px;
  p {
    color: white;
  }
  h1 {
    color: white;
  }
}

.banner-large-style {
  padding-bottom: 24px;
}

.gif-image {
  background-image: asset-url("tenor.gif");
  background-repeat: no-repeat;
  background-position: center;
  // background-size: cover;
  height: 415px;
  // position: absolute;
  // left: 1020px;
  // top: 120px;
}

.advocates-text {
  h4 {
    color: white;
  }
  p {
    color: white;
    font-size: 12px;
  }
}

.reviews-text {
  h6 {
    color: #979797;
  }
}

a:hover {
  text-decoration: none;
}

.banner-links a {
  color: white;
}

.banner-users {
  background-color: $primary-normal;
  padding: 40px 0px 65px;
  h1, h2, h3, h5, li {
    color: white;
  }
  p {
    color: $background-dark;
  }
}

.users-review {
  display: flex;
  padding-top: 16px;
  p {
    color: white;
    padding-right: 75px;
  }
}

.user-info {
  margin-left: 36px;
}
