.banner {
  background-color: $primary-normal;
  background-size: cover;
  background-position: center;
  padding: 50px;
  margin-bottom: 48px;
  h1, h2, h3, li, p {
    color: white;
  }
}

.banner-home {
  p {
    font-size: 30px;
  }
  h1 {
    font-size: 64px;
  }
}

.banner-paragraph {
  margin-left: 25px;
  margin-top: 50px;
  border-left: 4px solid #33D9B2;
}

.banner-large {
  background-color: #212121;
  background-size: cover;
  background-position: center;
  // margin-bottom: 48px;
  padding-top: 24px;
  padding-left: 56px;
  p {
    color: white;
  }
  h1 {
    color: white;
  }
}

.gif-image {
  background-image: url("tenor.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 440px;
  position: absolute;
  left: 1020px;
  top: 120px;
}

.advocates-text {
  h4 {
    color: white;
  }
  p {
    color: white;
    font-size: 12px;
  }
}

.reviews-text {
  h6 {
    color: #979797;
  }
}

a:hover {
  text-decoration: none;
}

.banner-links a {
  color: white;
}
