.banner {
  background-color: #212121;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 48px;
  height: 500px;
  margin-top: -60px;
  p {
    color: white;
  }
  h1 {
    color: white;
  }
}

.green-line {
  border-left: 4px solid #33D9B2;
}

.banner-large {
  background-color: #212121;
  background-size: cover;
  background-position: center;
  margin-bottom: 48px;
  height: 500px;
  padding-top: 24px;
  padding-left: 56px;
  p {
    color: white;
  }
  h1 {
    color: white;
  }
}

.gif-image {
  background-image: url("tenor.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 440px;
  position: absolute;
  left: 900px;
  top: 66px;
}
