.category-dropdown {
  display: flex;
  vertical-align: center;
  label {
    padding-right: 20px;
    color: white;
    font-size: 20px;
  }
}

.browse {
  margin-left: 80px;
}

.dropdown {
  // height: 16px; // Commented out for navigation bar
}
