.score-text {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Hammersmith One', sans-serif;
  text-justify: auto;
}

.myscore {
  display: flex;
  margin-top: 30px;
  svg {
    margin-right: 20px;
    margin-top: -18px;
  }
  h3 {
    margin-right: 12px;
  }
  span {
    text-decoration: underline;
  }
}
