.score-green-lg {

}

.score-yellow-lg {

}

.score-red-lg {

}

.score-text-s {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: auto;
  font-family: 'Hammersmith One', sans-serif;
  line-height: auto;
  align: middle;
}
